<!DOCTYPE html>
<html>
<head>
{% load static %}
<script src={% static "jquery.js" %}></script>
<script>
var append;
$(document).ready(function(){
  $("button").click(function(){
	temp=$("form").serialize().split("=")[1];
	$("#stuff").text("");
	link="https://www.googleapis.com/books/v1/volumes?q=".concat(temp);
    $.ajax({url: link, success: function(result){
		var i;
		$("#stuff").append("<table border=1>");
		for (i = 0; i < result.items.length; i++) {
			append="<tr><td><font size=7 color=orange> "+result.items[i].volumeInfo.title+"<font size=4 color=black> published on <font size=6>"+result.items[i].volumeInfo.publishedDate+"<font size=4 color=black> by <font size=6 color=black>";
			if(!('authors' in result.items[i].volumeInfo)){
				append=append+"Unknown";
			}else{
				for(j=0;j<result.items[i].volumeInfo.authors.length;j++){
					append+=result.items[i].volumeInfo.authors[j]
					if(j+1<result.items[i].volumeInfo.authors.length){
					append+=", ";
					}
				}
			}
			if(!('imageLinks' in result.items[i].volumeInfo)){
				append=append+"<img align=right src={% static 'not-available.jpg' %} style=height:200px>";
			}else{
				append+="<img align=right src="+result.items[i].volumeInfo.imageLinks.thumbnail+">";
			}
			append+="<p> <font size=5 color=#00ffff> Description : <p><font color = black size=4>";
			if(!('description' in result.items[i].volumeInfo)){
				append=append+"No Description Available <hr>";
			}else{
				append+=result.items[i].volumeInfo.description+"<hr>";
			}
			
			$("#stuff").append(append);
		}
    }});
  });
});
</script>
</head>
<body background = {% static "woodbg.jpg" %} style="margin:5%;">

<h1><center> Get Book Information </h1></center>
<form action="">
  <font size=5 face=tahoma>Book title : <input type="text" name="Title" value="My Book" style="font-size:18px"></font><br>
</form>
<p><button>Get Book Info</button>
<div id="stuff" style="margin:5%;"><h2></h2></div>

</body>
</html>
